body {
  background: url("../img/blocks/stone_bricks.png");
  background-size: 4rem 4rem;
  image-rendering: pixelated;
  width: 80%;
  margin: 40px auto;
  color: #fff;
}

canvas {
  width: 10rem;
}

#options {
  display: flex;
  flex-direction: column;
}

input[type=number] {
  width: 4em;
}

#bestSection canvas {
  width: 45px;
}
